NEXT_PUBLIC_SUPABASE_URL=https://cmueehgxpbbnrqgjcquv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNtdWVlaGd4cGJibnJxZ2pjcXV2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgyMzA1NDAsImV4cCI6MjA5MzgwNjU0MH0.XC3sJHXeJoQzFAAAx9Xv54PLUnimLLpio9NQYcIdflQ
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNtdWVlaGd4cGJibnJxZ2pjcXV2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODIzMDU0MCwiZXhwIjoyMDkzODA2NTQwfQ.ogMc9I1KGbHG8W-pHy0hdcG6VXV-SxE5aYFucyssLko
